@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
h1 {
  color: green;
  font-family: 'Bungee Spice', cursive;
  font-size: 40px;
  text-align: center;
  
}
img {
  width: 300px;
  height: 250;
  display: block;
  margin: auto;
  object-fit: cover;
}
